# Importing and Tidying the Data

In [1]:
import pandas as pd
import json

routes_df = pd.read_csv('routes.csv', sep=',', delimiter=None, encoding='latin-1')

In [7]:
airport_df = pd.read_csv('airports.csv', sep=',', delimiter=None, encoding='latin-1')
airport_df = airport_df.drop(columns=['ICAO', 'longitude', 'latitude', 'altitude_ft', 'Timezone', 'DST', 'Area'])
print(airport_df.dtypes)

id          int64
Name       object
City       object
Country    object
dtype: object
id         object
Name       object
City       object
Country    object
dtype: object

In [18]:
airline_df = pd.read_csv('airlines.csv', sep=',', delimiter=None, encoding='latin-1', names=['ID', 'Name', 'Unknown1', 'Unknown2', 'IATA', 'Callsign', 'Country', 'Active'])
airline_df = airline_df.drop(columns=['Unknown1', 'Unknown2', 'Callsign'])
airline_df = airline_df.dropna(subset=['Country'])
airline_df = airline_df.query("Country != '\\\\N' and Active != 'N' and IATA != 'NaN'")
print(airline_df.dtypes)
print(airline_df.head(10))

ID          int64
Name       object
IATA       object
Country    object
Active     object
dtype: object
    ID                  Name IATA            Country Active
3    3         1Time Airline  RNX       South Africa      Y
10  10           40-Mile Air  MLA      United States      Y
13  13      Ansett Australia  AAA          Australia      Y
14  14  Abacus International  NaN          Singapore      Y
21  21            Aigle Azur  AAF             France      Y
22  22        Aloha Airlines  AAH      United States      Y
24  24     American Airlines  AAL      United States      Y
28  28       Asiana Airlines  AAR  Republic of Korea      Y
29  29       Askari Aviation  AAS           Pakistan      Y
32  32     Afriqiyah Airways  AAW              Libya      Y
Duration 26