# Volcano Eruptions Dataset for MongoDB Assignment

### By Callum O'Brien, C21306503

In [50]:
import pandas as pd
from pymongo import MongoClient
import json

df = pd.read_csv('eruptions.csv', sep=',', delimiter=None, encoding='UTF-8')

The column names in this dataset contain spaces and as such need to be replaced. 
I replace them here with underscores.

In [51]:
# Replace column name spaces with underscores
df.columns = list(map(lambda x: x.replace(" ", "_"), df.columns))
print(df.dtypes)

Volcano_Number            int64
Volcano_Name             object
Country                  object
Primary_Volcano_Type     object
Activity_Evidence        object
Last_Known_Eruption      object
Region                   object
Subregion                object
Latitude                float64
Longitude               float64
Elevation_(m)             int64
Dominant_Rock_Type       object
Tectonic_Setting         object
dtype: object

One column is called Elevation_(m). I will rename this to just 'Elevation'.

In [52]:
df = df.rename(columns={"Elevation_(m)": "Elevation"})
print(df.columns)

Index(['Volcano_Number', 'Volcano_Name', 'Country', 'Primary_Volcano_Type',
       'Activity_Evidence', 'Last_Known_Eruption', 'Region', 'Subregion',
       'Latitude', 'Longitude', 'Elevation', 'Dominant_Rock_Type',
       'Tectonic_Setting'],
      dtype='object')

Next I clean the data, looking for null/N/A values.

In [53]:
print("Volcano_Number", df.Volcano_Number.isnull().sum())
print("Volcano_Name", df.Volcano_Name.isnull().sum())
print("Country", df.Country.isnull().sum())
print("Primary_Volcano_Type", df.Primary_Volcano_Type.isnull().sum())
print("Activity_Evidence", df.Activity_Evidence.isnull().sum())
print("Last_Known_Eruption", df.Last_Known_Eruption.isnull().sum())
print("Region", df.Region.isnull().sum())
print("Subregion", df.Subregion.isnull().sum())
print("Latitude", df.Latitude.isnull().sum())
print("Longitude", df.Longitude.isnull().sum())
print("Elevation", df.Elevation.isnull().sum())
print("Dominant_Rock_Type", df.Dominant_Rock_Type.isnull().sum())
print("Tectonic_Setting", df.Tectonic_Setting.isnull().sum())

Volcano_Number 0
Volcano_Name 0
Country 0
Primary_Volcano_Type 0
Activity_Evidence 0
Last_Known_Eruption 0
Region 0
Subregion 0
Latitude 0
Longitude 0
Elevation 0
Dominant_Rock_Type 14
Tectonic_Setting 5

In [54]:
print(df[df.Dominant_Rock_Type.isnull()])
print(df[df.Tectonic_Setting.isnull()])

      Volcano_Number                        Volcano_Name  \
18            211080                             Marsili
232           242005                      Havre Seamount
254           243111                              Dugong
255           243112                             Lobster
258           243140                            Niuatahi
557           283069                        Akandanayama
642           284305  Mariana Back-Arc Segment at 15.5Â°N
659           285083                           Tenchozan
671           290072                Odamoisan [Tebenkov]
990           331005                 West Valley Segment
997           331032                     Jackson Segment
999           331060              East Blanco Depression
1342          370010                     Snaefellsjokull
1435          390847                            Melville

                             Country Primary_Volcano_Type   Activity_Evidence  \
18                             Italy            Submarine      Eruption Dated
232                      New Zealand            Submarine   Eruption Observed
254                            Tonga            Submarine  Evidence Uncertain
255                            Tonga            Submarine  Evidence Uncertain
258                            Tonga              Caldera   Unrest / Holocene
557                            Japan        Stratovolcano   Evidence Credible
642                    United States            Submarine      Eruption Dated
659                            Japan          Crater rows      Eruption Dated
671   Japan - administered by Russia        Stratovolcano  Evidence Uncertain
990                           Canada            Submarine   Unrest / Holocene
997                Undersea Features            Submarine   Unrest / Holocene
999                Undersea Features            Submarine   Unrest / Holocene
1342                         Iceland        Stratovolcano      Eruption Dated
1435                      Antarctica        Stratovolcano  Evidence Uncertain

     Last_Known_Eruption                          Region  \
18              1050 BCE  Mediterranean and Western Asia
232              2012 CE             New Zealand to Fiji
254              Unknown             New Zealand to Fiji
255              Unknown             New Zealand to Fiji
258              Unknown             New Zealand to Fiji
557              Unknown         Japan, Taiwan, Marianas
642              2015 CE         Japan, Taiwan, Marianas
659              Unknown         Japan, Taiwan, Marianas
671              Unknown                   Kuril Islands
990              Unknown        Hawaii and Pacific Ocean
997              Unknown        Hawaii and Pacific Ocean
999              Unknown        Hawaii and Pacific Ocean
1342              200 CE        Iceland and Arctic Ocean
1435             Unknown                      Antarctica

                                  Subregion  Latitude  Longitude  Elevation  \
18                                    Italy    39.284     14.399       -779
232                        Kermadec Islands   -31.080   -179.033       -897
254                           Tonga Islands   -15.431   -175.725      -1170
255                           Tonga Islands   -15.333   -176.283      -1500
258                           Tonga Islands   -15.379   -174.003      -1270
557                                  Honshu    36.200    137.573       2109
642       Izu, Volcano, and Mariana Islands    15.406    144.506      -4100
659                                Hokkaido    44.044    145.086       1046
671                           Kuril Islands    45.028    147.918       1208
990                Pacific Ocean (northern)    48.780   -128.640      -2550
997                Pacific Ocean (northern)    42.150   -127.050      -3100
999                Pacific Ocean (northern)    44.267   -129.879      -3000
1342                      Iceland (western)    64.800    -23.783       1446
1435  Antarctica and South Sandwich Islands   -62.020    -57.670        549

     Dominant_Rock_Type                                 Tectonic_Setting
18                  NaN                                              NaN
232                 NaN        Subduction zone / Oceanic crust (< 15 km)
254                 NaN                                              NaN
255                 NaN                                              NaN
258                 NaN        Subduction zone / Oceanic crust (< 15 km)
557                 NaN                                              NaN
642                 NaN        Subduction zone / Oceanic crust (< 15 km)
659                 NaN                                              NaN
671                 NaN  Subduction zone / Intermediate crust (15-25 km)
990                 NaN        Rift zone / Intermediate crust (15-25 km)
997                 NaN              Rift zone / Oceanic crust (< 15 km)
999                 NaN        Rift zone / Intermediate crust (15-25 km)
1342                NaN              Rift zone / Oceanic crust (< 15 km)
1435                NaN          Intraplate / Continental crust (>25 km)
     Volcano_Number  Volcano_Name Country Primary_Volcano_Type  \
18           211080       Marsili   Italy            Submarine
254          243111        Dugong   Tonga            Submarine
255          243112       Lobster   Tonga            Submarine
557          283069  Akandanayama   Japan        Stratovolcano
659          285083     Tenchozan   Japan          Crater rows

      Activity_Evidence Last_Known_Eruption                          Region  \
18       Eruption Dated            1050 BCE  Mediterranean and Western Asia
254  Evidence Uncertain             Unknown             New Zealand to Fiji
255  Evidence Uncertain             Unknown             New Zealand to Fiji
557   Evidence Credible             Unknown         Japan, Taiwan, Marianas
659      Eruption Dated             Unknown         Japan, Taiwan, Marianas

         Subregion  Latitude  Longitude  Elevation Dominant_Rock_Type  \
18           Italy    39.284     14.399       -779                NaN
254  Tonga Islands   -15.431   -175.725      -1170                NaN
255  Tonga Islands   -15.333   -176.283      -1500                NaN
557         Honshu    36.200    137.573       2109                NaN
659       Hokkaido    44.044    145.086       1046                NaN

    Tectonic_Setting
18               NaN
254              NaN
255              NaN
557              NaN
659              NaN

In [55]:
df['Dominant_Rock_Type'].fillna("Not Specified", inplace=True)
df['Tectonic_Setting'].fillna("Not Specified", inplace=True)

print(df[['Volcano_Number',
          'Volcano_Name',
          'Country',
          'Primary_Volcano_Type',
          'Activity_Evidence',
          'Last_Known_Eruption', 
          'Region', 
          'Subregion',
          'Latitude', 
          'Longitude',
          'Elevation',
          'Dominant_Rock_Type',
          'Tectonic_Setting']].isnull().values.any())

False

I'll now check for values that are 1:1 to set up a data structure.

In [56]:
for i in sorted(df.Volcano_Name.unique()):
    if len(df[df.Volcano_Name==i].Volcano_Number.unique())!=1:
        print(i)

Azul, Cerro
Flores
Plosky
San Cristobal
Santa Isabel
Sumbing
Unnamed

Volcano Name and Number are not 1:1, meaning some volcanoes erupted more than once. As such these values together cannot be used for the main structure of the DB as the Volcano Name will not be unique.

Instead, I'll base the data structure around the country in which the Volcano erupted.

In [57]:
volcano_df = df[['Country']].drop_duplicates()
print(f"\n{volcano_df.Country}\n")
print(f"\n{volcano_df.describe(include='all')}\n")
print(f"\n{volcano_df.isnull().values.any()}\n")

0          Germany
1           France
2            Spain
4            Italy
19          Greece
           ...
1342       Iceland
1372        Norway
1375      Portugal
1395    Cape Verde
1403    Antarctica
Name: Country, Length: 95, dtype: object


        Country
count        95
unique       95
top     Germany
freq          1


False

The Country list contains 95 unique values and no null values, and so is suitable for use.

In [58]:
uri = uri = 'mongodb://admin:Sp00ky!@localhost:27017/?AuthSource=admin'
client = MongoClient(uri)

Validating the data structure about to be inserted.

In [59]:
mydb = client['Volcano']
mycol = mydb['Country']
if "Country" in mydb.list_collection_names():
    mycol.drop()

mycol = mydb.create_collection(
    name="Country",
    validator={"$jsonSchema": {
        "required": ["Country"],
        "properties": {
            "Country": {
                "bsonType": "string",
                "pattern": "[a-z0-9]{2,20}",
                "description": "Name of country. 2 to 20 char"
            },
        }
    }},
    validationAction="error",
)

In [60]:
for row in volcano_df.itertuples():
    eruptions = df[df.Country == row.Country][['Volcano_Number',
                                               'Volcano_Name',
                                               'Primary_Volcano_Type',
                                               'Region',
                                               'Subregion',
                                               'Activity_Evidence',
                                               'Last_Known_Eruption',
                                               'Latitude',
                                               'Longitude',
                                               'Elevation',
                                               'Dominant_Rock_Type',
                                               'Tectonic_Setting']]
    
    entries = json.dumps({"Country": row.Country,
                          "Eruptions": eruptions.to_dict('records')})

    x = mycol.insert_one(json.loads(entries))

# Queries

1. All documents in JSON format

In [61]:
cursor = mycol.find({})

# Convert documents to a DataFrame
docs = list(cursor)

print(json.dumps(cursor, default=str, indent=2))

"<pymongo.cursor.Cursor object at 0x1297943d0>"

In [62]:
client.close()